[Desktop Entry]
Encoding=UTF-8
Name=Escrow
Comment=Escrow P2P Cryptocurrency
Comment[fr]=Escrow, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Escrow, eşten eşe kriptografik sanal para birimi
Exec=escrow-qt %u
Terminal=false
Type=Application
Icon=escrow128
MimeType=x-scheme-handler/escrow;
Categories=Office;Finance;
